**/bin
**/metastore_db
**/*.log
**/.gradle
**/.caches
**/.settings
**/.worksheet
**/.cache-main
**/.DS_Store
**/.classpath
**/.DS_Store
**/.cache-tests
**/rebel.xml
**/build/
**/.idea/
**/.project
**/.tmpBin/
**/out
**/spark-warehouse
**/target
**/.metadata/
**/.bloop
**/.metals
**/*.iml
**/.externalToolBuilders/
**/resources/wallet.tar.gz
**/resources/oraclewallet