**/.DS_Store
/cook/python/*_Local.ipynb
/cook/python/functions/*_local.py
**/*.zip
**/.cache-tests
**/*.pyc
**/*.log
**/*.sublime-project
**/*.sublime-workspace
**/bin
**/metastore_db
**/derby.log
**/.gradle
**/.caches
/cook/java/**/build
/cook/scala/**/build
**/.settings
**/.worksheet
**/.cache-main
**/.DS_Store
**/.classpath
**/rebel.xml
*.sublime-project
notes/
**/.ipynb_checkpoints
**/__pycache__
**/.idea
**/bkp
**/*.pkl
gradle/
build/
Jenkinsfile
.metals/